body {
    margin: 0;
    background-color: lightgray;
}

#start-btn {
    background-color: black;
    color: lightgray;
    padding: 20px;
    font-size: 20px;
    margin-top: 320px;
    margin-left: 150px;
    border-radius: 50%;
    text-align: center;
    height: 70px;
}

.container {
    display: flex;
    justify-content: center;
}

.container #game-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container #splash-screen{
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-screen {
    width: 600px;
    height: 400px;

    position: relative;
    overflow: hidden;
    user-select: none;

    background-image: url(../images/portada.jpg);
    background-position: center;
    background-size: cover;

    margin-left: 30%;
    margin-top: 10%;
}




#game-box {
    width: 730px;
    height: 500px;

    position: relative;
    /* overflow: hidden; */
    user-select: none;

    background-image: url(../images/Hockey-field.png);
    background-position: center;
    background-size: cover;

    
}

#game-box {
    pointer-events: none;
}

#game-screen, #winner-screen {
    display: none;
    flex-direction: column;
    align-items: center;
}

#marcador-a {
    color: red;
}

#marcador-b {
    color: blue;
}

#score-container {
    font-size: 3.5rem;
}